@value tripsYellow,tripsGray,tripsDarkGray from '../common/colors.css';
.box {
  width: 100vw;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: auto;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
}

.form p {
  font-size: 30px;
  color: tripsDarkGray;
  margin: 0px auto;
  font-weight: 700;
  margin-bottom: 20px;
}

.form input {
  height: 35px;
  border-radius: 10px;
  outline: none;
  border: 1px solid tripsGray;
  margin: 5px 0px;
  padding: 0px 10px;
}

.form button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: tripsYellow;
  margin: 5px 0px;
  color: tripsDarkGray;
}

.form button:hover {
  filter: brightness(90%);
}
