@value tripsYellow,tripsDarkGray,tripsGray from '../common/colors.css';

.container {
  margin: 30px auto;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo i {
  color: tripsYellow;
}
.logo span {
  font-weight: 900;
  font-size: 40px;
  margin-left: 10px;
  color: tripsDarkGray;
}
.navbar button {
  margin: auto 5px;
  border: none;
  color: tripsDarkGray;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  background: none;
}

.navbar button:hover {
  color: tripsYellow;
}
