:root {
  --text-color: #f0f4f5;
  --background-color: #263343;
  --accent-color: orange;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar_logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: var(--accent-color);
  border-radius: 5px;
}

.navbar_logo i {
  color: var(--accent-color);
}

.navbar_icons {
  display: flex;
  list-style: none;
  color: white;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toggleBtn {
  display: none;
  position: absolute;
  top: 10px;
  right: 24px;
  font-size: 24px;
  color: var(--accent-color);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 25px;
  }
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar_menu li {
    width: 100%;
    text-align: center;
  }
  .navbar_icons {
    display: none;
    width: 100%;
    justify-content: center;
    padding-left: 0;
  }
  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}
