.app-nav {
  width: 100vw;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
}

.app-nav__ul {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0px;
}

.app-nav__li {
  margin: 0px 10px;
  list-style: none;
  border-bottom: 3px solid transparent;

  border-radius: 50%;
  border-image: linear-gradient(
    to right,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border-image-slice: 1;
}

.app-nav__li a {
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-weight: 700;
}
